{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px">
        <h1>Ajouter un utilisateur</h1>
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        {{ form_end(form) }}
    </div>
{% endblock %}